{{>partials/header}}

<link rel="stylesheet" href="/css/alcoolismo.css">


    {{alcoolismo}}


      <br>
      <br>
      <br>
      <br>
      <br>
      <hr>
    <section>
      <H1 id="tratamento_tittle"> ALCOOLISMO </H1>
        <img src="/images/alcoolismo.webp">
        <p class="texto">O <b>alcoolismo</b> é a incapacidade de controlar a ingestão de álcool devido a dependência física e emocional.
          Os sintomas incluem consumo repetido de álcool apesar de problemas jurídicos e de saúde. Alcoólatras podem iniciar o dia com uma dose, sentir culpa por beber e quiser reduzir a quantidade consumida.
          O tratamento envolve terapia ou aconselhamento por um profissional de saúde. Há medicamentos disponíveis que reduzem a vontade de beber.
          Os sinais e sintomas classicamente associados à dependência de substâncias são falta de controle sobre o uso, tolerância cada vez maior e manifestações de síndrome de abstinência. Neste último caso, a pessoa manifesta alguns sintomas quando interrompe o consumo de álcool: tremores nos lábios e extremidades (mãos, pés), náuseas, vômitos, suor excessivo, ansiedade, irritação, podendo evoluir para convulsões e estados de confusão mental, com falta de orientação no tempo e no espaço e alucinações. 

 
O primeiro passo para o tratamento é o doente reconhecer que é alcoolista e querer mudar a situação. Depois, a família ou o dependente devem procurar um psicólogo ou psiquiatra, que avaliará as possibilidades de tratamento. 
O tratamento pode envolver a desintoxicação, que é a retirada da bebida com acompanhamento profissional, a ingestão de medicamentos que auxiliam no controle do desejo de beber e aconselhamento individual ou em grupo.
O envolvimento da família é fundamental nessa etapa, pois o alcoolismo é uma doença que envolve não só o dependente, mas também todos de seu convívio.

Impacto
O álcool, junto com o tabagismo, é um dos principais fatores de risco para o desenvolvimento de diversas doenças.
Quando utilizado por tempo prolongado, tem ação tóxica sobre diversos órgãos. O uso constante provoca danos ao sistema nervoso, podendo causar demência, bem como diminuição da sensibilidade e da força muscular nas pernas. Outras possíveis consequências são: no estômago, pode ocasionar gastrites e úlceras; no fígado, pode desencadear hepatites, acúmulo de gordura e cirrose; no pâncreas, gera pancreatite; e no sistema circulatório, aumenta o risco de miocardites, pressão alta, acidentes vasculares cerebrais e aterosclerose (acúmulo de placas de gordura nos vasos sanguíneos).
O álcool também tem relação com o desenvolvimento de câncer no trato intestinal, na bexiga, próstata e outros órgãos.
Além disso, ficam prejudicadas as relações sociais. No excesso e na ausência dele, o dependente se torna irritado, tem tremores e crises de ansiedade, que só melhoram com o consumo cada vez maior.
        </p>

        </section>

 
      <!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span></span>
      </div>
      <!-- Left -->
  
      <!-- Right -->

      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->

          <!-- Grid column -->
  
          <!-- Grid column -->

          <!-- Grid column -->
  
          <!-- Grid column -->

          <!-- Grid column -->
  
          <!-- Grid column -->

          <br>
    </section>

    {{>partials/footerpages}}