{{>partials/header}}
<link rel="stylesheet" href="/css/dependencia.css">


    


      <br>
      <br>
      <br>
      <br>
      <br>
      <hr>
    
    
    <section>
      <H1 id="tratamento_tittle"> TRATAMENTO DEPENDENCIA QUIMICA </H1>
      <img class="principal" src="/images/dependencia-quimica-1024x683.jpg" alt="Dependência">
      <br>
      <br>
      <div class="texto-dependencia">
      <p>Para entender a diferença entre o uso, abuso e dependência das substâncias químicas, é preciso saber que isso se trata de um ciclo, uma evolução progressiva.
        Porém, apesar de frequente, não é possível dizer que uma etapa sempre acarretará em outra. Em alguns casos, isso não acontece.
        A evolução para cada uma das etapas de interação com a droga ocorre quando o uso delas se torna mais frequente. 
        Além disso, o uso precoce de substâncias psicoativas tende a provocar problemas mais graves ao usuário no futuro.
        Não há uma única causa que leva uma pessoa a se tornar um dependente químico. 
        Existem pessoas que já têm certa predisposição para o transtorno, enquanto outras podem estar sujeitas à ele após alguns usos de uma substância. Geralmente, a dependência química com uma junção de diversos fatores.
        Dificuldades de lidar com frustrações e resolver problemas, além de traumas da infância, sintomas de depressão, tristeza sem motivo, quadros de ansiedade ou qualquer outro sentimento são alguns deles. Influências sociais, como um ambiente negativo dentro ou fora de casa, também podem favorecer ou facilitar o uso de alguma substância.
        Até mesmo características hereditárias, aquelas que são transmitidas dos pais para os filhos, podem influenciar no desenvolvimento de uma dependência química. A genética diz respeito sobre como um organismo metaboliza o uso de uma determinada substância e o potencial dela causar uma dependência no futuro.
        Estes fatores podem estar diretamente ou indiretamente relacionados com a influência de uma dependência.
      </p>
      </div>
      </section>

 
      <!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span></span>
      </div>
      <!-- Left -->
  
      <!-- Right -->

      <!-- Right -->
    </section>
    {{>partials/footerpages}}
