{{>partials/header}}
<link rel="stylesheet" href="/css/feedback.css">

        <br>
        <br>
        <br>
        <br>
        <hr>

        <div class="container1">
          <div class="card">
            <div class="card-content">
              <div class="content">   
                  <div class="field">
                    <label class="label">Nome</label>
                    <div class="control has-icons-left has-icons-right">
                      <input class="input is-rounded has-text-grey-light" type="" placeholder="Ex: Alex Ferguson" value="">
                      <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                      </span>
          
                    </div>
                    
                  </div>
                  
                  <div class="field">
                    <label class="label">Email</label>
                    <div class="control has-icons-left has-icons-right">
                      <input class="input is-rounded has-text-grey-light" type="email" placeholder="Ex: alex-f@outlook.com" value="">
                      <span class="icon is-small is-left">
                        <i class="fas fa-envelope has"></i>
                      </span>
                      </span>
                    </div>
                  </div>
          
                  <div class="field">
                    <label class="label">Telefone</label>
                    <div class="control has-icons-left has-icons-right">
                      <input class="input is-rounded has-text-grey-light" type="text" placeholder="Digite seu telefone" value="">
                      <span class="icon is-small is-left">
                        <i class="fa-solid fa-phone-flip"></i>
                      </span>
                      <span class="icon is-small is-right">
                        <i class=""></i>
                      </span>
                    </div>
                  </div>
                  
                  
                  
                  <div class="field">
                    <label class="label">Mensagem</label>
                    <div class="control">
                      <textarea class="textarea" placeholder="Escreva"></textarea>
                    </div>
                  </div>
                  
                  <div class="field">
                    <div class="control">
                      <label class="checkbox">
                        <input type="checkbox">
                        Eu estou de acordo com os <a href="/termos">termos e condições</a>
                      </label>
                    </div>
                  </div>
                  
                  <div class="field">
                    <div class="control">
                      <label class="radio">
                      </label>
                    </div>
                  </div>
                  
                  <div class="field is-grouped">
                    <div class="control">
                      <a href="/" style="text-decoration: none;">
                        <button class="button is-link">Enviar</button>
                      </a>
                      
                    </div>
                    <div class="control">
                      <button class="button is-link is-light">Cancelar</button>
                    </div>
              </div>
            </div>
          </div>
          </div>
        </div>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->

    <!-- Section: Links  -->
  
    <!-- Copyright -->
    {{>partials/footerpages}}
