{{>partials/header}}
<link rel="stylesheet" href="/css/involuntario.css">


    


      <br>
      <br>
      <br>
      <br>
      <br>
      <hr>
    <section>
      <H1 id="tratamento_tittle"> TRATAMENTO IVOLUNTÁRIO </H1>
      <div class="imagem">
        <img src="/images/involuntario.jpg">
      </div>

      <p class="texto">A nova lei 13.840/6 prevê o tratamento involuntário, este método é indicado quando os familiares notam a situação na qual o dependente se encontra. Porém, esse tipo de internação é utilizado quando o dependente químico começa a colocar sua vida em risco, assim como a de pessoas a sua volta.</p>
    </section>

 
      <!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span></span>
      </div>

      {{>partials/footerpages}}
  