{{>partials/header}}
<link rel="stylesheet" href="/css/mulheres.css">


    


      <br>
      <br>
      <br>
      <br>
      <br>
      <hr>
    <section>
      <H1 id="tratamento_tittle"> TRATAMENTO PARA MULHERES </H1>
        <img src="/images/mulheres-dependentes-quimicas-1.jpg">
        
            <p class="texto">O uso de drogas pelas mulheres sempre ocorreu ao longo de toda a história da humanidade, assim, não é um fenômeno contemporâneo. Porém os transtornos causados em decorrência deste uso têm sido datados progressivamente a partir de meados do século XX.
            Existem também alguns dados significativos e muito preocupantes, que revelam que 8% das mulheres dos EUA apresentam abuso e dependência para o álcool, enquanto 6% delas apresentam abuso e dependências para as outras drogas, tendência apresentada por pesquisas realizadas em todo o mundo.</p>
           <p class="texto">A mulher se relaciona de modo distinto com o álcool e as outras drogas, desde o uso inicial, às justificativas de uso, como da relação emocional com as substâncias, a demora em pedir ou procurar ajuda e a dificuldade para se recuperar de fato,
            já que se trata de um processo ou uma relação diferente ao dos homens, a recuperação destas requer cuidados também diferentes.</p> 
       
    </section>

 
      <!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span></span>
      </div>
      <!-- Left -->
  
      <!-- Right -->

      <!-- Right -->

    <!-- Section: Links  -->
  
    {{>partials/footerpages}}
  