{{>partials/header}}

<link rel="stylesheet" href="/css/inicio.css">

<br/>
<br/>
<br/>



<div class="tratamentos">
    <div class="tratamentos1">
      <a href="https://recantonovavida.com.br/index.html" style="text-decoration:none";>
        <img class="img1" src="/images/life1.png" alt="Involuntário" width="100px">

      <div class="titulo">
        <h1>Recanto Nova Vida</h1>
      </div>
      <div class="desc">
        <h3><strong>Contato/tel:</strong>(11) 98720-2831</h3>
      </div>
    </a>
    </div>

    
        <div class="tratamentos1">
          <a href="http://www.propaz.org.br/" style="text-decoration:none";>
            <img class="img1" src="/images/saude.png" alt="Involuntário" width="100px">
    
          <div class="titulo">
            <h1>Pro Paz</h1>
          </div>
          <div class="desc">
            <h3><strong>Contato/tel:</strong>(11) 9664-0330</h3>
          </div>
        </a>
        </div>
        
    <div class="tratamentos1">
        <a href="https://institutoasael.com.br/" style="text-decoration:none";>
            <img class="img1" src="/IMAGES/plano.png" alt="ONGs" width="100px" height="">
      
      <div class="titulo">
        <h1>Instituto Asael</h1>
      </div>
      <div class="desc">
        <h3><strong>Contato/tel:</strong>(11) 9635-5569</h3>
      </div>
        </a>
    </div>

    <div class="tratamentos1">
      <a href="https://institutosamprev.com.br/"  style="text-decoration:none";>
        <img src="/IMAGES/mental.png" alt="ONGs" width="100px" height="">

      <div class="titulo">
        <h1>Instituto Samprev</h1>
      </div>
      <div class="desc">
        <h3><strong>Contato/tel:</strong>(11) 4784-5959</h3>
      </div>
    </a>
    </div>

  </div>
  

{{>partials/footerpages}}