{{>partials/header}}
<link rel="stylesheet" href="/css/termos.css">



      <br>
      <br>
      <br>
      <br>
      <br>
      <hr>
      <br>

      <h1><strong>Termos de uso</strong></h1>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="10">Contrato válido a partir de setembro de 2022

        TERMOS DE USO — sos vicios
        
        
        sos vicios, pessoa jurídica de direito privado descreve, através deste documento, sua política de uso do http://127.0.0.1:5500/feedback.html e qualquer outro site, loja ou aplicativo operado pelo proprietário.
        
        Ao navegar neste website, você está automaticamente de acordo com nossa política. Do contrário, orientamos a que suspenda a navegação no website e evite concluir o seu cadastro.
        A política  poderá ser editada a qualquer momento, mas, caso isso aconteça, publicaremos no website, com a data de revisão atualizada. Por outro lado, se as alterações forem substanciais, nós teremos o cuidado, além de divulgar no website, de informá-lo por meio das informações de contato que tivermos em nosso cadastro, ou por meio de notificações.
        A utilização deste website após as alterações significa que você aceitou a política revisada. Caso, após a leitura da nova versão, você não esteja de acordo com seus termos, favor encerrar o seu acesso.
        
        Capítulo 1 - Usuário
        A utilização deste website atribui de forma automática a condição de usuário e implica a plena aceitação de todas as diretrizes e condições incluídas nestes Termos.
        
        Capítulo 2 - Adesão em conjunto com a Política de Privacidade
        A utilização deste website acarreta a adesão à presente Política de Uso e à versão mais atualizada da Política de Privacidade de sos vicios.
        
        Capítulo 3 - Condições de acesso
        Em geral, o acesso ao website da sos vicios possui caráter gratuito e não exige prévia inscrição ou registro. Contudo, para usufruir de algumas funcionalidades, o usuário poderá precisar efetuar um cadastro, criando uma conta de usuário com login e senha próprios para acesso.
        É de total responsabilidade do usuário fornecer apenas informações corretas, autênticas, válidas, completas e atualizadas, bem como não divulgar o seu login e senha para terceiros.
        Partes deste website oferecem ao usuário a opção de publicar comentários em campos dedicados. sos vicios não consente com publicações discriminatórias, ofensivas ou ilícitas, ou ainda infrinjam direitos de autor ou quaisquer outros direitos de terceiros.
        A publicação de quaisquer conteúdos pelo usuário deste website, incluindo, mas não se limitando, a  mensagens e comentários, implica licença não-exclusiva, irrevogável e irretratável, para sua utilização, reprodução e publicação pela sos vicios em seu website, plataformas e aplicações de internet, ou ainda em outras plataformas, sem qualquer restrição ou limitação.
        
        Capítulo 4 - Cookies
        Cookies são informações armazenadas diretamente no computador que você está utilizando. Os cookies permitem a coleta de informações tais como o tipo de navegador, o tempo despendido no website, as páginas visitadas, as preferências de idioma, e outros dados de tráfego anônimos. Nós e nossos prestadores de serviços utilizamos informações para proteção de segurança, para facilitar a navegação, exibir informações de modo mais eficiente, e personalizar sua experiência ao utilizar este website, assim como para rastreamento online. Também coletamos informações estatísticas sobre o uso do website para aprimoramento contínuo do nosso design e funcionalidade, para entender como o website é utilizado e para auxiliá-lo a solucionar questões relevantes. Por isso, informações sobre o seu uso neste website podem ser coletadas a partir de cookies.
        Caso não esteja de acordo, há um procedimento que pode ser executado em seu navegador que permite que os cookies sejam automaticamente rejeitados, ou oferece a opção de aceitar ou rejeitar a transferência de um cookie (ou cookies) específico(s) de um site determinado para o seu computador. No entanto, é importante estar ciente de que a redefinição dos cookies pode afetar a sua experiência de navegação. Neste sentido, rejeitamos qualquer responsabilidade pelas consequências resultantes do funcionamento limitado deste website provocado pela desativação de cookies no seu dispositivo.
        
        Capítulo 5 - Propriedade Intelectual
        Todos os elementos de sos vicios são de sua propriedade intelectual ou de seus licenciados, sendo absolutamente vedado o uso sem prévia e expressa permissão.
        
        Capítulo 6 - Links para sites de terceiros
        Este website poderá, de tempos a tempos, conter links de hipertexto que redirecionarão você para sites das redes dos nossos parceiros, anunciantes, fornecedores etc. Cada um desses sites possui as suas próprias práticas de privacidade, pelas quais não somos responsáveis. Nesse sentido, recomendamos a consulta às referidas políticas antes do envio de quaisquer Dados Pessoais para esses sites.
        Além disso, não nos responsabilizamos pelas políticas e práticas de coleta, uso e divulgação (incluindo práticas de proteção de dados) de outras organizações através das quais, por vezes, os usuários utilizam para fazer login facilitado em plataformas, como, por exemplo, Facebook, Apple, Google, Microsoft, ou de qualquer outro desenvolvedor de software ou provedor de aplicativo. Por isso, recomendamos que você se informe sobre a política de privacidade e termos de uso de cada site visitado ou de cada prestador de serviço utilizado.
        
        Capítulo 7 - Prazos e alterações
        O funcionamento deste website se dá por prazo indeterminado.
        O website, no todo ou em cada uma das suas seções, pode ser encerrado, suspenso ou interrompido unilateralmente por sos vicios, a qualquer momento e sem necessidade de prévio aviso aos usuários.
        
        Capítulo 8 - Dados pessoais
        Durante a navegação, certos dados pessoais serão coletados e tratados por sos vicios e/ou pelos Parceiros. As regras relacionadas ao tratamento de dados pessoais estão estipuladas em nossa Política de Privacidade.
        
        Capítulo 9 - Contato
        Caso você tenha qualquer dúvida sobre esta Política de Uso, por favor, entre em contato pelo e-mail gabriel.ssilva155@senacsp.edu.br.
        
        </textarea>

 
      <!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span></span>
      </div>
      <!-- Left -->
  
      <!-- Right -->

   
      {{>partials/footerpages}}
   