{{>partials/header}}
<link rel="stylesheet" href="/css/voluntario.css">


    


      <br>
      <br>
      <br>
      <br>
      <br>
      <hr>
    <section>
      <H1 id="tratamento_tittle"> TRATAMENTO VOLUNTÁRIO </H1>
        <img src="/images/volunt.jpg">
        <p class="texto">
            O tratamento voluntário de dependentes químicos ou alcoolistas é caracterizado pela motivação do usuário para o tratamento. Um quadro extremamente raro, pois dificilmente alguém, sendo dependente, decide se tratar por si só. A maioria dos pacientes voluntários chegam ao tratamento devido à alguma coerção social. A família, geralmente, exige que o dependente se trate, às vezes a empresa em que ele trabalha.
        </p>
        <p class="texto">
            Independente de coerção, o tratamento voluntário possui grande vantagem sobre o tratamento involuntário. No tratamento voluntário o paciente consegue ainda discernir e ponderar sobre sua situação, logo os profissionais não precisam lidar com as resistências iniciais do paciente e este fica mais receptivo aos processos terapêuticos.
        </p>
        
    </section>

 
      <!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span></span>
      </div>
      <!-- Left -->
  
      <!-- Right -->

      {{>partials/footerpages}}
