<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SOS VICIOS</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/5c3542a6a8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  </head>
<body>

    <div class="a">
        <nav class="navbar is-fixed-top is-spaced mb-4" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
    
            <figure class="image is-128x128">
              <a href="/"><img src="/IMAGES/LOGO.png"></a>
            </figure>
    
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>
    
          <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
              <a href="/" class="navbar-item" style="text-decoration: none;">
                Inicio
              </a>
    
              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" style="text-decoration: none;">
                  Tratamentos
                </a>
    
                <div class="navbar-dropdown">
                  <a href="/alcoolismo" class="navbar-item" style="text-decoration: none;">
                    Tratamento Alcoolismo
                  </a>
                  <a href="/dependencia" class="navbar-item" style="text-decoration: none;">
                    Tratamento para Dependência química
                  </a>
                  <a href="/involuntario" class="navbar-item" style="text-decoration: none;">
                    Tratamento Involuntário
                  </a>
                  <a href="/mulheres" class="navbar-item" style="text-decoration: none;">
                    Tratamento para Mulheres
                  </a>
                  <a href="/voluntario" class="navbar-item" style="text-decoration: none;">
                    Tratamento Voluntário
                  </a>
                </div>
              </div>
    
              <a href="feedback" class="navbar-item" style="text-decoration: none;">
                Feedback
              </a>
    
            </div>
    
    
            <div class="panel-block">
              <p class="control has-icons-left">
                <input class="input">

              </p>

              
            </div>
    
    
    
          </div>
      </div>
      </div>
      </div>
      </nav>